
@{
    ViewBag.Title = "GioiThieu";
    Layout = "~/Views/Shared/_LayoutCustomer.cshtml";
}

<div>
    <p>
        Tháng 6/2022, trang web bán hàng thể thao này được thành lập, đây là trang web cung cấp chủ yếu các phụ kiện thể thao như: áo,
        quần, giày, vợt... của môn cầu lông. Nhận thấy sự phát triển của cầu lông trong nước, bên cạnh đó là mong muốn phục vụ tốt hơn
        cho thành viên và những bạn yêu mến cầu lông, nhóm MinMin đã mạnh dạn xây dựng shop cầu lông MinMinSport để có thể làm được vai trò
        này. Đến với MinMinSport, bạn sẽ yên tâm về chất lượng sản phẩm, đội ngũ tư vấn sản phẩm chuyên nghiệp và giá cả hợp lý.
    </p>
</div>
<hr />
