
@{
    ViewBag.Title = "XacNhanDonHang";
    Layout = "~/Views/Shared/_LayoutCustomer.cshtml";
}

<h2>Đã xác nhận đơn hàng!</h2>
<p>Shop sẽ liên hệ với quý khách trong thời gian sớm nhất để giao hàng đúng hạn!</p>
<p>@Html.ActionLink("Trở về trang chủ","Index","Home")</p>

